[changes]
ignore_conventional_commits = true

[packages.mdt_core]
versioned_files = [
	"Cargo.lock",
	"mdt_core/Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_core" },
]
changelog = "mdt_core/changelog.md"
scopes = ["mdt_core"]
extra_changelog_sections = [
	{ name = "Notes", footers = [], types = ["note"] },
	{ name = "Documentation", footers = [], types = ["docs"] },
]

[packages.mdt_cli]
versioned_files = [
	"Cargo.lock",
	"mdt_cli/Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_cli" },
]
changelog = "mdt_cli/changelog.md"
scopes = ["mdt_cli"]
extra_changelog_sections = [
	{ name = "Notes", footers = [], types = ["note"] },
	{ name = "Documentation", footers = [], types = ["docs"] },
]

[packages.mdt_lsp]
versioned_files = [
	"Cargo.lock",
	"mdt_lsp/Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_lsp" },
]
changelog = "mdt_lsp/changelog.md"
scopes = ["mdt_lsp"]
extra_changelog_sections = [
	{ name = "Notes", footers = [], types = ["note"] },
	{ name = "Documentation", footers = [], types = ["docs"] },
]

[packages.mdt_mcp]
versioned_files = [
	"Cargo.lock",
	"mdt_mcp/Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_mcp" },
]
changelog = "mdt_mcp/changelog.md"
scopes = ["mdt_mcp"]
extra_changelog_sections = [
	{ name = "Notes", footers = [], types = ["note"] },
	{ name = "Documentation", footers = [], types = ["docs"] },
]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "mdt update"

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "cargo check --workspace"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo publish --workspace"

[github]
owner = "ifiokjr"
repo = "mdt"
