[changes]
ignore_conventional_commits = true

[package]
versioned_files = [
	"Cargo.toml",
	{ dependency = "mdt_core", path = "Cargo.lock" },
	{ dependency = "mdt_core", path = "Cargo.toml" },
	{ dependency = "mdt_cli", path = "Cargo.lock" },
	{ dependency = "mdt_lsp", path = "Cargo.lock" },
	{ dependency = "mdt_lsp", path = "Cargo.toml" },
	{ dependency = "mdt_mcp", path = "Cargo.lock" },
	{ dependency = "mdt_mcp", path = "Cargo.toml" },
]
changelog = "changelog.md"
scopes = ["core", "cli", "lsp", "mcp"]
extra_changelog_sections = [
	{ name = "Notes", footers = [], types = ["note"] },
	{ name = "Documentation", footers = [], types = ["docs"] },
]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "mdt update"

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "cargo check --workspace"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases $version"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo publish --workspace"

[github]
owner = "ifiokjr"
repo = "mdt"
