[changes]
ignore_conventional_commits = true

[packages.mdt]
versioned_files = [
	"Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt" },
	{ path = "Cargo.lock", dependency = "mdt" },
]
changelog = "crates/mdt/changelog.md"
scopes = ["mdt"]

[[packages.mdt.extra_changelog_sections]]
name = "Notes"
footers = []
types = ["note"]

[[packages.mdt.extra_changelog_sections]]
name = "Documentation"
footers = []
types = ["docs"]

[packages.mdt_cli]
versioned_files = [
	"Cargo.toml",
	{ path = "Cargo.lock", dependency = "mdt_cli" },
]
changelog = "crates/mdt_cli/changelog.md"
scopes = ["mdt_cli"]

[[packages.mdt_cli.extra_changelog_sections]]
name = "Notes"
footers = []
types = ["note"]

[[packages.mdt_cli.extra_changelog_sections]]
name = "Documentation"
footers = []
types = ["docs"]

[packages.mdt_lsp]
versioned_files = [
	"Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_lsp" },
	{ path = "Cargo.lock", dependency = "mdt_lsp" },
]
changelog = "crates/mdt_lsp/changelog.md"
scopes = ["mdt_lsp"]

[[packages.mdt_lsp.extra_changelog_sections]]
name = "Notes"
footers = []
types = ["note"]

[[packages.mdt_lsp.extra_changelog_sections]]
name = "Documentation"
footers = []
types = ["docs"]

[packages.mdt_mcp]
versioned_files = [
	"Cargo.toml",
	{ path = "Cargo.toml", dependency = "mdt_mcp" },
	{ path = "Cargo.lock", dependency = "mdt_mcp" },
]
changelog = "crates/mdt_mcp/changelog.md"
scopes = ["mdt_mcp"]

[[packages.mdt_mcp.extra_changelog_sections]]
name = "Notes"
footers = []
types = ["note"]

[[packages.mdt_mcp.extra_changelog_sections]]
name = "Documentation"
footers = []
types = ["docs"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "dprint fmt"

[[workflows.steps]]
type = "Command"
command = "cargo check --workspace"

[[workflows.steps]]
type = "Command"
command = "git add --all"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare releases"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "document-change"

[[workflows.steps]]
type = "CreateChangeFile"

[[workflows.steps]]
type = "Command"
command = "dprint fmt .changeset/* --allow-no-files"

[[workflows]]
name = "forced-release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "publish"

[[workflows.steps]]
type = "Command"
command = "cargo workspaces publish --from-git --yes"

[github]
owner = "ifiokjr"
repo = "mdt"
