name: "coverage"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  coverage:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup
        uses: ./.github/actions/devenv
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: generate coverage report
        run: coverage:all
        shell: devenv shell -c -- bash -e {0}

      - name: upload lcov artifact
        uses: actions/upload-artifact@v4
        with:
          name: lcov
          path: lcov.info
          if-no-files-found: error

      - name: upload to codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./lcov.info
          use_oidc: true
          fail_ci_if_error: false
          verbose: true
